body, html {
	height: 100%;
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: rgba(125, 45, 60, 1);
}

.header {
	width: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 28px;
	letter-spacing: -1px;
	line-height: 12px;
	color: #747474;
	text-align: right;
	z-index: -1;
	padding:20px 20px;
	border-bottom:1px solid #747474;
	margin-bottom: 30px;
}

.glyphicon {
	color: rgba(125, 45, 60, 1);
}

.tr .glyphicon:hover {
	color: #df405a;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(116, 116, 116, 0.8);
}

::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(116, 116, 116, 0.8);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(116, 116, 116, 0.8);
}

/*--------------------
Text
---------------------*/

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2, h3 {
	font-size: 18px;
	letter-spacing: -1px;
	text-align: center;
}

h2 {
	color: #747474;
}

h3 {
	color: rgba(125, 45, 60, 1);
}

.favorite {
	margin-bottom: 10px;
}

.favorite a {
	color: rgba(125, 45, 60, 1);
	font-weight: bold;
}

.favorite a:hover {
	color: #df405a;
}

.search {
	padding-top: 20px;
	margin-bottom: 10px;
	height: 62px;
}

.paging {
	position: absolute;
	bottom: 16px;
}

.paging a {
	color: #747474;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}

.paging a:hover {

}

.date label {
  position: relative;
  display: inline-block;
  width: 188px;
  height: 36px;
  border: 1px solid #747474;
  border-radius: 15px;
  font-weight: normal;
  outline: none;
}

.text label {
  position: relative;
  display: inline-block;
  width: 188px;
  height: 36px;
  border: 1px solid #747474;
  border-radius: 15px;
  font-weight: normal;
  outline: none;
  margin-right:20px;
}

.page label {
  position: relative;
  display: inline-block;
  width: 188px;
  height: 36px;
  border: 1px solid #747474;
  border-radius: 15px;
  font-weight: normal;
  outline: none;
}

.date input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 172px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #747474;
  outline: none;
}

.text input[type="text"] {
  position: relative;
  padding: 0 10px;
  width: 172px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #747474;
  outline: none;
}

.page input[type="text"] {
  position: relative;
  padding: 0 10px;
  width: 172px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #747474;
  outline: none;
}

.date label::before {
  position: absolute;
  text-align:center;
  content: "Select";
  padding-top:9px;
  color: #747474;
  top: -1px;
  right: 20px;
  width: 36px;
  height: 36px;
  <!--background-image: url("../../img/calendar.png");-->
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  outline: none;
}

.date input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.date input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}

.date input[type="date"]::-webkit-calendar-picker-indicator{
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0;
  width: 36px;
  height: 36px;
  background: transparent;
  color: transparent;
  cursor: pointer;
  outline: none;
}

.table {
	color: #747474;
	cursor: pointer;
}

/*--------------------
Box
---------------------*/
.box {
	position: absolute;
	padding: 100px 0px 150px 0px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 1120px;
	height: 100%;
}

a:hover {
	text-decoration:none;
}

.box_edit {
	position: relative;
	z-index: 1;
	width: 1120px;
	height: 800px;
	margin-bottom: 60px;
	padding: 30px;
	background: #fff;
	border-radius: 5px;
}

.line-wh {
	width: 100%;
	height: 1px;
	top: 0px;
	margin: 12px auto;
	position: relative;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.b-cta {
	width: 100%;
	padding: 0px 15px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;
	font-size: 16px;
	line-height: 32px;
	cursor: pointer;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	border: #df405a 1px solid;
	background-color: #df405a;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.b-cta:hover {
	color: #fff;
	background-color: #87314e;
	border: #87314e 1px solid;
}

.form-control {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  resize: none;
}

#form4{
position:relative;
margin-right:210px;
}

#sbox4{
height:36px;
padding:0 10px;
position:absolute;
left:0;
top:0;
width:210px!important;
border-radius:25px;
border:solid 1px #747474;
outline: 0;
}

#sbtn4{
 height: 36px;
 width: 40px;
 position: absolute;
 left:171px;
 top: 0;
 padding-bottom: 5px;
 background:rgba(125, 45, 60, 1);
 color:#747474;
 border:none;
 font-size:14px;
 border-radius:0 25px 25px 0;
 outline: 0;
}

#sbtn4:hover{
background:#df405a;
color:#747474;
}

.date #datepicker {
height:36px;
padding:0 10px;
position:absolute;
left:0;
top:0;
width:210px!important;
border-radius:25px;
border:solid 1px #747474;
outline: 0;
}

/*--------------------
Credits
---------------------*/
.icon-credits {
	width: 100%;
	position: absolute;
	bottom: 4px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.1);
	text-align: center;
	z-index: -1;
}

.icon-credits a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.2);
}
