@import
	'https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700';

/*--------------------
General Style
---------------------*/
*, *::before, *::after {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: rgba(125, 45, 60, 1);
}

.header {
	width: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 28px;
	letter-spacing: -1px;
	line-height: 12px;
	color: #747474;
	text-align: right;
	padding:20px 20px;
	border-bottom:1px solid #747474;
}

.logout {
	text-align: right;
	margin-right: 5px;
}

.logout a{
	cursor: pointer;
	color: #747474;
	text-decoration: none;
}

.logout a:hover{
	opacity: 0.5;
}

.main-content {
	width: 1000px;
	color: #747474;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.main {
	position: relative;
	z-index: 1;
}

.content {
	float: left;
	width: 690px;
}

.sub-content {
	float: left;
	width: 260px;
}

/*--------------------
Text
---------------------*/

h1 {
	font-size: 18px;
	letter-spacing: -1px;
	margin-top: 7px;
	color: #fff;
	text-align: center;
}

h2, h3 {
	font-size: 14px;
	letter-spacing: -1px;
	margin-top: 5px;
}

h2 {
	color: #fff;
	text-align: center;
}

h3 {
	color: #032942;
	text-align: right;
}

/*必須、任意タグ*/
.ate1,.ate2{
	padding: 2px 5px;
	color: #fff;
	margin-right: 10px;
	border-radius: 5px;
}
.ate1{background-color: #e6477a;}
.ate2{background-color: #ccc;}

/*--------------------
Box
---------------------*/
.box {
	top:35px;
	width: 200px;
	margin:0px 0px 30px 30px;
	position: relative;
	float:left;
	transition: 0.3s;
}

.box:hover {
	cursor: pointer;
	opacity: 0.5;
}

.box-tab {
	width: 50%;
	height: 30px;
	background: rgba(123, 32, 45, 1);
	position: relative;
	float: left;
	z-index: 1;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	-webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.32);
	box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.32);
}

.box-title {
	width: 40%;
	height: 30px;
	position: absolute;
	float: left;
	z-index: 2;
}

.box-content {
	border-top:1px solid #747474;
	position: relative;
	top: -4px;
	width: 200px;
	background: #fdfdfd;
	text-align: center;
	overflow: hidden;
	z-index: 2;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.32);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.32);
}

.profile {
	color: #747474;
	top:15px;
	width: 200px;
	margin:0px 0px 0px 40px;
	position: relative;
	float:left;
}

.profile-tab {
	width: 50%;
	height: 40px;
	background: rgba(123, 32, 45, 1);
	position: relative;
	float: left;
	z-index: 1;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	-webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.32);
	box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.32);
}

.profile-title {
	width: 40%;
	height: 40px;
	position: absolute;
	float: left;
	z-index: 2;
}

.profile-content {
	position: relative;
	top: -4px;
	width: 200px;
	background: #fdfdfd;
	text-align: left;
	overflow: hidden;
	z-index: 2;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.32);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.32);
}

.profile-content img {
	margin:10px 0px 10px 0px;
}

.profile-content p {
	margin-top: 2px;
}

.settings {
	position: absolute;
	bottom:-2px;
	left:83%;
	cursor: pointer;
}

.modal-body {
	padding: 20px 40px;
}

.line-wh {
	width: 100%;
	height: 1px;
	top: 0px;
	margin: 12px auto;
	position: relative;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/*--------------------
Form
---------------------*/
a {
	text-decoration: none;
}

button:focus {
	outline: 0;
}

.fieldset-body {
	height:180px;
	display: table;
}

.fieldset-body p {
	width: 100%;
	display: inline-table;
	padding: 10px 10px;
	margin-bottom: 2px;
}

.fieldset-body-profile {
	height:440px;
	display: table;
}

.fieldset-body-profile p {
	width: 100%;
	display: inline-table;
	padding: 0px 20px;
	margin-bottom: 2px;
}

label {
	float: left;
	width: 100%;
	top: 0px;
	color: #032942;
	font-size: 13px;
	font-weight: 700;
	text-align: left;
	line-height: 1.5;
}

label.checkbox {
	float: left;
	padding: 5px 40px;
	line-height: 1.7;
}

input[type=text], input[type=password] {
	width: 100%;
	height: 32px;
	padding: 0px 10px;
	background-color: rgba(0, 0, 0, 0.03);
	border: none;
	display: inline;
	color: #303030;
	font-size: 16px;
	font-weight: 400;
	float: left;
	-webkit-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.05), 1px 1px 0px
		rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.05), 1px 1px 0px
		rgba(255, 255, 255, 1);
	box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.05), 1px 1px 0px
		rgba(255, 255, 255, 1);
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #f8f8c6;
	outline: none;
}

input[type=submit] {
	width: 100%;
	height: 48px;
	margin-top: 24px;
	padding: 0px 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	background-color: #87314e;
	border: 1px #87314e solid;
	opacity: 1;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #df405a;
	border: 1px #df405a solid;
}

input[type=submit]:focus {
	outline: none;
}

p.field span.i {
	width: 24px;
	height: 24px;
	float: right;
	position: relative;
	margin-top: -26px;
	right: 2px;
	z-index: 2;
	display: none;
	-webkit-animation: bounceIn 0.6s linear;
	-moz-animation: bounceIn 0.6s linear;
	-o-animation: bounceIn 0.6s linear;
	animation: bounceIn 0.6s linear;
}

.edit-btn {
	border: #df405a 1px solid;
	background: #df405a;
	color: #fff;
}

.edit-btn:hover {
	color: #fff;
	background-color: #87314e;
	border: #87314e 1px solid;
}

/*--------------------
Transitions
---------------------*/
.box-form, .box-info, .b, .b-support, .b-cta, input[type=submit], p.field span.i
	{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/*--------------------
Credits
---------------------*/
.icon-credits {
	width: 100%;
	position: absolute;
	bottom: 4px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.1);
	text-align: center;
	z-index: -1;
}

.icon-credits a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.2);
}

.site-logo {
 /* サイズ指定 */
 width:146px;
 height:146px;
 /* 背景色 */
 background: #fff;
 border: solid 1px rgba(123, 32, 45, 1);
 /* 角を丸くする */
 border-radius: 3%;
 -webkit-border-radius: 3%;
 -moz-border-radius: 3%;
 margin:16.5px 0px 0px 26.5px;
}

.site-info {
 padding-top:53px; /* 真ん中にまで文字を下ろす */
}

.site-logo h1,
.site-logo p {
 text-align: center; /* 中央寄せ */
 color: rgba(123, 32, 45, 1); /* 文字を白色に */
 margin: 0; /* h1とpの余白をリセット */
}

/* あとは文字サイズや太字を指定 */
.site-logo h1 {font-size:20px;}
.site-logo p {font-size:12px; font-weight:bold;}



.site-logo {
　/* ゆっくりと変化(1.0秒間) */
　transition:1.0s;
　-moz-transition:1.0s;
　-webkit-transition:1.0s;
}

.site-logo:hover {
 /* 変化後の色 */

}

