body, html {
	height: 100%;
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: rgba(125, 45, 60, 1);
}

.header {
	width: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 28px;
	letter-spacing: -1px;
	line-height: 12px;
	color: #747474;
	text-align: right;
	padding: 20px 20px;
	border-bottom: 1px solid #747474;
}

h2, h3 {
	font-size: 18px;
	letter-spacing: -1px;
	line-height: 12px;
}

h2 {
	color: #747474;
	text-align: center;
}

.return {
	text-align: right;
	margin-right: 5px;
}

.return a{
	cursor: pointer;
	color: #747474;
	text-decoration: none;
}

.return a:hover{
	opacity: 0.5;
}

.box {
	width: 773px;
	position: absolute;
	margin-top: 50px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.box_edit {
	position: relative;
	z-index: 1;
	width: 773px;
	margin-bottom: 50px;
	padding: 30px 0px 20px 0px;
	background: #fff;
	border-radius: 5px;
}

.form-left {
	width: 300px;
	float: left;
	margin: 0px 80px 0px 60px;
	background: #fff;
}

.form-right {
	width: 300px;
	float: left;
}

/*必須、任意タグ*/
.ate1,.ate2{
	padding: 1px 5px;
	color: #fff;
	margin-right: 10px;
	border-radius: 5px;
}
.ate1{background-color: #e6477a;
		font-size:12px;}
.ate2{background-color: #ccc;
		font-size:12px;}

.b-cta {
	width: 100%;
	margin-top: 65px;
	padding: 0px 15px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;
	font-size: 16px;
	line-height: 32px;
	cursor: pointer;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	border: #df405a 1px solid;
	background-color: #df405a;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.b-cta:hover {
	color: #fff;
	background-color: #87314e;
	border: #87314e 1px solid;
}

.form-controls {
  width: 32.37%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-controls:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-controls::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-controls:-ms-input-placeholder {
  color: #999;
}
.form-controls::-webkit-input-placeholder {
  color: #999;
}
.form-controls::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-controls[disabled],
.form-controls[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-controls[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-controls {
  height: auto;
}

/*--------------------
Credits
---------------------*/
.icon-credits {
	width: 100%;
	position: absolute;
	bottom: 4px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.1);
	text-align: center;
	z-index: -1;
}

.icon-credits a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.2);
}